body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
}

.vendedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.vendedor h2 {
    margin: 10px 0;
}

.vendedor div {
    margin: 5px 0;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #2ecc71;
}

label {
    text-align: left;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
